extends ./_layout

block open-graph
  include ./includes/_open-graph
  
block main
  include ./includes/_header
  include ./includes/_home
  include ./includes/_about
  include ./includes/_education
  include ./includes/_expirience
  include ./includes/_skills
  include ./includes/_certifications
  include ./includes/_funfacts
  include ./includes/_interests
  include ./includes/_contact
  include ./includes/_footer
  include ./includes/_preloader