//- Certifications Section
section#certifications.section.scroll-section
  #portfolioModal.modal.white
    .modal-img
    .modal-footer
      a.waves-effect.btn-flat.brand-text.modal-action.modal-close(href='#') Close
  .wow.fade-in-up(data-wow-duration='.7s')
    #certification-modal.container
      h2.section-title
        i.fa.fa-check-circle-o(aria-hidden='true')
        | Certifications
      .card.hoverable
        .cert-box
          .row
            
            .col-sm-4
              .cert-media
                .cert-image.waves-effect.waves-block.waves-light
                  a.modal-trigger(href='#portfolioModal', data-image-source='images/a1-zertifikat.jpg', data-image-alt='A1 Zertifikat', data-demo-link='#')
                    img(src='images/thumb-a1.jpg')
                .cert-datetime
                  span.day 31
                  span.month MAR
            
            .col-sm-8
              .card-content
                .cert-data
                  h2.card-title ÖSD Zertifikat A1
                  h4 Österreichisches Sprachdiplom Deutsch
                  ul
                    li am Prüfungszentrum Humboldt Gesellschaft
                    li in Podgorica / Montenegro
                  h3 serh gut bestanden
                  span.id-num ID-Nummer: ZA11604330
//- #certifications section end