//- Education Section
section#education.section.scroll-section
  .wow.fade-in-up(data-wow-duration='.7s')
    .container
      h2.section-title
        i.fa.fa-graduation-cap
        | Education
      .row
        .col-sm-12
          .timeline
            .timeline-bar
            .timeline-inner.clearfix
              +timelineBox('2009 - 2012', 'Specialist Degree (Spec.App)', 'Faculty of Mathematics and Natural Sciences', 'Department of Computer Science and Information Technology, University of Montenegro, Podgorica.')    
              +timelineBox('2005 - 2009', 'Bachelor’s Degree (BApp)', 'Faculty of Mathematics and Natural Sciences', 'Department of Computer Science and Information Technology, University of Montenegro, Podgorica.')
              +timelineBox('2001 - 2005', 'Secondary School', 'Secondary Professional School', 'Department of Computer Technician. Montenegro, Nikšić.')
//- #education section end