//- Expirience Section
section#expirience.section.scroll-section
  .wow.fade-in-up(data-wow-duration='.7s')
    .container
      h2.section-title
        i.fa.fa-suitcase
        | Work Experience
      .row
        .col-sm-12
          .timeline
            .timeline-bar
            .timeline-inner.clearfix
              +timelineBox('March 2014 - Present', 'Freelance Web Development', 'Web Developer', 'Provide web development solutions using tools such as PHP, HTML, CSS, JavaScript, Laravel for multiple clients. SEO optimisation.')
              +timelineBox('January 2013 - October 2013', 'NECKOM d.o.o.', 'Full Stack developer', 'Upgrading existing software with new features on demand. Improving user experience and ease of access. Learned also about advanced Database concepts and Object Pascal while developing in Embarcadero Delphi IDE. Applying and extending my knowledge of Android programming, created brand new ecommerce application. Using Photoshop, InDesign, Illustrator and creating graphics for their website as well as flyers and advertising materials.')
//- #expirience section end