//- Footer Section
footer.footer-social
  ul.social
    each val, index in {'fa fa-google-plus':'https://plus.google.com/+ĐorđePantović', 'fa fa-github':'https://github.com/djordjepantovic', 'fa fa-linkedin':'https://www.linkedin.com/in/djordjepantovic'}
      li
        a(href=val): i(class=index)
//- footer end