//- Funfacts Section
section#funfacts.section.scroll-section.funfacts
  .wow.fade-in-up(data-wow-duration='.7s')
    .container
      .row.text-center
        +funfactWrap('fa fa-clock-o', '190', 'Hours Of Works')
        +funfactWrap('fa fa-code', '1280', 'Lines of code')
        +funfactWrap('fa fa-coffee', '54', 'Cups of Coffee')
        +funfactWrap('fa fa-trophy', '2', 'Awards')
//- #funfacts section end