header
  nav.primary-nav(role='navigation')
    .nav-wrap
      ul.inline-nav.side-nav#slide-out
        li.mobile-profile
          .profile-inner
            .img-container
              img.img-circle(src='images/djordje-pantovic.jpg', alt='Djordje Pantovic')
            .name-title
              h3.name Đorđe Pantović
              h4.title Software and Web Developer
        +navItem('#about', 'About')
        +navItem('#education', 'Education')
        +navItem('#expirience', 'Experience')
        +navItem('#skills', 'Skills')
        +navItem('#contact', 'Contact')

      a.button-collapse(href='#', data-activates='slide-out')
        i.fa.fa-bars(aria-hidden='true')
//- header navigation end