//- Home Section
section#home.root-sec.scroll-section
  .sec-overlay
    .container
      .row
        .col-sm-12
          .home-inner
            .home-content
              h1.home-title
                span HI! I'm
                |  Đorđe Pantović
              h2.home-subtitle Web Developer from Nikšić, Montenegro
              a.hire-me-btn.btn-large.btn-border.waves-effect.waves-light(href='#contact', data-section='#contact') Hire Me
    //- .container end
    .section-call-to-area
      .container
        .row
          a.btn-large.btn-floating.button-middle.section-call-to-btn(href='#about', data-section='#about')
            i.fa.fa-angle-down
//- #home section end