//- FACEBOOK'S OPEN GRAPH PROTOCOL
meta(property='og:title', content='Đorđe Pantović')
meta(property='og:type', content='website')
meta(property='og:image', content='http://www.djordjepantovic.de/images/djordje-pantovic.jpg')
meta(property='og:url', content='http://www.djordjepantovic.de')
meta(property='og:description', content="Hello, I'm a creative Software and Web Developer from Nikšić, Montenegro.")
//- TWITTER CARDS
meta(name='twitter:card', content='summary')